body{
    background-color: #F8F0E5;
    width: 1508px;
    margin: 0px auto;
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

h2,
.homepagemenu,
.top-bar,
.bottom-bar{
    text-align: center;
}

.homepagemenu{
    font-size: 30px;
    list-style-type: none;
}

.top-bar,
.bottom-bar{
    background-color: #DAC0A3;
    font-size: 40px;
    margin: 0px;
}

.img-recipe,
.content-recipe{
    border: #DAC0A3 solid 3px;
}

.img-recipe{
    height: 700px;
    width: 700px;
    float: left;
    margin: 8px 8px 8px 0px;
}

.content-recipe{
    background-color: #EADBC8;
    width: 800px;
    display: inline-block;
    padding: 8px;
    margin-top: 8px;
    float: left;
}

